{% extends "blog/base.html" %}
{% block title %}<title>Sign Up</title> {% endblock %}
{% block userSignup %}
<div class="portfolio">
<div class="content container">
    <div class="row">
        <div class="col-md-8">
<form method="post" action="{% url 'signup' %}">
{% csrf_token %}
        <h1>Sign Up</h1><br>
        {% for field in form %}
        <p>
          {{ field.label_tag }}
          <br>
          {{ field }}
          {% for error in field.errors %}
    <p style="color: red"><p class = "error">{{ error }}</p></p>
    {% endfor %}
          {% endfor %} <br><br>
    <input type="submit" class = " btn btn-primary" value="SIGN UP" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

        </div>
    </div>
</div>
</div>
{% endblock %}
