{% extends 'blog/base.html' %} 
{% block title %}<title>Add Comment</title> {% endblock %}

{% block addComment %}
<section>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h1>New comment</h1>
            <form method="POST" class="post-form">{% csrf_token %} {{ form.as_p }}
                <p>You will see the comment under the post as soon as it is approved by the recipe's author.</p>
                <button type="submit" class="save btn btn-default btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}