{% extends 'blog/base.html' %}
{% load static %}

{% block  title %}  <title>Gallery</title> {% endblock %}

{% block  gallery %}
    <!-- The Gallery -->
    <section class="gallery-page">
        <div class="container">
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Gallery</h2>
                    <h3 class="section-subheading text-muted">Check out the gallery of our recipes</h3>
                </div>
            </div>
            <div id="links">
                <div class="container">
                    <!--First row-->
                    <div class="row">
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/1.jpg" title="Rice Noodles with Vegetables">
                                <img class="img-fluid" src="../static/img/gallery/1.jpg" alt="Rice Noodles with Vegetables">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/2.jpg" title="Curry Omelette">
                                <img class="img-fluid" src="../static/img/gallery/2.jpg" alt="Curry Omelette">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/3.jpg" title="Taco with Avocado">
                                <img class="img-fluid" src="../static/img/gallery/3.jpg" alt="Taco with Avocado">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/4.jpg" title="Stir Fried Noodles">
                                <img class="img-fluid" src="../static/img/gallery/4.jpg" alt="Stir Fried Noodles">
                            </a>
                        </div>
                    </div>
                    <p></p>
                    <!--Second row-->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/5-full.jpg" title="Cheesy Pie with Asparagus">
                                <img class="img-fluid" src="../static/img/gallery/5.jpg" alt="Cheesy Pie with Asparagus">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/6.jpg" title="Vegan Tomato Soup">
                                <img class="img-fluid" src="../static/img/gallery/6.jpg" alt="Vegan Tomato Soup">
                            </a>
                        </div>
                    </div>
                    <p></p>
                    <!--Third row-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/7-full.jpg" title="Breakfast Ideas">
                                <img class="img-fluid" src="../static/img/gallery/7.jpg" alt="Breakfast Ideas">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
