{% extends 'blog/base.html' %}
{% load static %}


    {% block  title %}  <title>Vegetarian Recipe Book</title> {% endblock %}




<body id="page-top">
    <!-- Navigation Bar-->
    <div>
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Vegetarian Recipes</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'post_categories' %}">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block  carousel %}
    <!-- Carousel -->
    <header>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="../static/img/carousel/0.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="../static/img/carousel/1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="../static/img/carousel/5.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="../static/img/carousel/3.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="../static/img/carousel/4.jpg" alt="Fifth slide">
                </div>
            </div>

        </div>
    </header>
    {% endblock %}


    {% block  gallery %}
    <!-- The Gallery -->
    <section id="gallery">
        <div class=container>
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{% url 'gallery' %}"><h2 class="section-heading text-uppercase">Gallery</h2></a>
                    <h3 class="section-subheading text-muted">Check out the gallery for more recipes</h3>
                </div>
            </div>
            <div id="links">
                <div class="container">
                    <!--First row-->
                    <div class="row">
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/1.jpg" title="Rice Noodles with Vegetables">
                                <img class="img-fluid" src="../static/img/gallery/1.jpg" alt="Rice Noodles with Vegetables">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/2.jpg" title="Curry Omelette">
                                <img class="img-fluid" src="../static/img/gallery/2.jpg" alt="Curry Omelette">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/3.jpg" title="Taco with Avocado">
                                <img class="img-fluid" src="../static/img/gallery/3.jpg" alt="Taco with Avocado">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/4.jpg" title="Stir Fried Noodles">
                                <img class="img-fluid" src="../static/img/gallery/4.jpg" alt="Stir Fried Noodles">
                            </a>
                        </div>
                    </div>
                    <p></p>
                    <!--Second row-->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/5-full.jpg" title="Cheesy Pie with Asparagus">
                                <img class="img-fluid" src="../static/img/gallery/5.jpg" alt="Cheesy Pie with Asparagus">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/6.jpg" title="Vegan Tomato Soup">
                                <img class="img-fluid" src="../static/img/gallery/6.jpg" alt="Vegan Tomato Soup">
                            </a>
                        </div>
                    </div>
                    <p></p>
                    <!--Third row-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 portfolio-item">
                            <a class="portfolio-link" href="../static/img/gallery/7-full.jpg" title="Breakfast Ideas">
                                <img class="img-fluid" src="../static/img/gallery/7.jpg" alt="Breakfast Ideas">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}





    <!-- Bootstrap core JavaScript -->

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- JS file for this project -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- JS file for this project -->
    <script src="{% static 'js/blueimp-gallery.min.js' %}"></script>



</body>

</html>
