{% extends 'blog/base.html' %}
{% block title %}<title>Draft List</title> {% endblock %}
{% block unpublishedcontent %}
    {% for post in posts %}
        {% if post.author == request.user %}
     
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date"> {{ post.created_date|date:'F d, Y' }}</p>
            <p>{{ post.text|truncatechars:300 }}</p>
           
            
        </div>
   
        {% endif %}
        {% empty %}
       <section >
                    <p class="section-heading text-uppercase">This page is only visible by you. </p>
                    <p class="section-heading text-uppercase">You have not created any drafts yet </p>
                    <p class="section-subheading text-muted"> Add a new draft by pressing + </p>
                  </div>
                </div>
            
    {% endfor %}
{% endblock %}



