{% extends 'blog/base.html' %}
{% block title %}<title>Recipe Detail</title> {% endblock %}
{% load ratings %}
{% block postDetail %}
<!-- Portfolio Recipes Grid -->

    <div class="container">
        <div class="row">
                <div class="col-lg-8 mx-auto">
            <div class="post">
                <h1>{{ post.title }}</h1>

                {% if post.published_date %}
                <div class="date" id="datePost">
                    {{ post.published_date|date:'F d, Y'}}
                    <span>by</span>
                    <span class="author-date"><a href="{% url 'profile' pk=post.author.pk %}">{{post.author}}</a></span>
                </div>
                {% else %}
                <div class="date" id="datePost"> {{ post.created_date|date:'F d, Y' }}</div>
                {% endif %} {% if user.is_authenticated and post.author == request.user %}
                <div>
                    <a class="btn btn-default btn-primary" href="{% url 'post_edit' pk=post.pk %}">
                        <i class="fa fa-pencil-square-o "></i>
                    </a>
                    <a class="btn btn-default btn-primary" href="{% url 'post_remove' pk=post.pk %}">
                        <i class="fa fa-times "></i>
                    </a>
                </div>
                {% endif %} {% if post.image %}
                <img class = "img-fluid d-block mx-auto" src="{{post.image.url}}" /> <br> {% endif %}

                <div modal-body>
                    
                    <h2>Ingredients</h2>
                    <ul>
                    {% for ingredient in post.ingredients.all %}
                    <li> </i>{{ingredient.quantity}}  {{ingredient.measurement}}  {{ingredient.title}} </li>
                    {% endfor %}
                    </ul>
                    <h2>Instructions</h2>
                    <ol>
                            {% for step in post.steps.all %}
                            <li> </i>{{step.description}}  </li>
                            {% endfor %}
                    </ol>
                   
                   </ol>
                </div>
                {% if not post.published_date %}
                <a class="btn btn-default btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
                <hr>
              
                <p> RECIPE RATING </p>
                {% if user.is_authenticated %}
                <form method="POST" >{% csrf_token %}
                 {% ratings post %}
                </form>
                {% else %}
                 <p>Please <a class="portfolio-link" href="{% url 'login' %}">login</a> to rate this recipe.<br></p>

                {% endif %}
           

                <p>This recipe was viewed {{ post.increase }} times.</p>
            </div>
        </div>
        </div>
    </div>



    <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Comments</h2>
        {% for comment in post.comments.all %} 
        {% if post.author == request.user or comment.author_user == request.user or comment.approved_comment %}
        <div class="comment">
            <div class="date comment-date">
                {{ comment.created_date|date:'F d, Y' }}
                <span>at</span> {{ comment.created_date|date:'P' }}
                <span>by</span> <strong>{{ comment.author }}</strong>
                {% if not comment.approved_comment %}
                <div class="save">
                <a class="btn btn-default btn-comment-approve" id = "btn-comment-approve" href="{% url 'comment_remove' pk=comment.pk %}">
                    <span class="fa fa-times"></span>
                </a>
                {% if not comment.author_user == request.user %}
                <a class="btn btn-default" id = "btn-comment-approve" href="{% url 'comment_approve' pk=comment.pk %}">
                    <span class="fa fa-check"></span>
                </a>
                {% endif %}
            </div>
                {% endif %}
            </div>
            <p>{{ comment.text|linebreaks }}</p>
            <hr>
        </div>
        {% endif %}
        
        
        
        {% empty %}
        <p>No comments here yet</p>
        {% endfor %} <br>
        {% if user.is_authenticated %}
        <a class=" save btn btn-default btn-primary" id = "btn-comment-add" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        
        {% endif %}
</div>
    </div>
    </div>


{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock %}
