{% extends 'blog/base.html' %} {% block postDetail %}

<!-- Portfolio Recipes Grid -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% if user.userprofile.profilePicture %}
        <img class="img-fluid d-block mx-auto rounded-circle" src="{{user.userprofile.profilePicture.crop.400x300}}" />
        {% endif %}
        <br>
        <h2 class="section-heading text-uppercase">{{user}}</h2>
         <center>
            {% if user.userprofile.birthDate %}
            <span><strong>Age: </strong></span>
            <span class="label label-warning">{{user.userprofile.age}} years old</span>
            {% endif %}
            {% if user.userprofile.height %}
            <span><strong>Height: </strong></span>
                <span class="label label-warning">{{user.userprofile.heighttInM}} m</span>
            {% endif %}
            {% if user.userprofile.weight %}
            <span><strong>Weight: </strong></span>
                <span class="label label-warning">{{user.userprofile.weight}} kg</span>
            {% endif %}
            {% if user.userprofile.weight and user.userprofile.height %}
            <span><strong>BMI: </strong></span>
                <span class="label label-warning">{{user.userprofile.bmi}}</span>
            {% endif %}
            </center><br>
            <h3 class="section-subheading text-muted"> {{user.userprofile.description}} </h3>
       
      </div>
    </div>
  </div>
</section>

{% if user != request.user %}
<!-- Portfolio Recipes Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"> {{user}}'s recipes</h2> <br>
      </div>
      {% for post in posts %} {% if post.author == user %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" a href="{% url 'post_detail' pk=post.pk %}">
          <div id="personal-portfolio-hover" class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-cutlery fa-2x"></i>
            </div>
          </div>
          {% if post.image %}
          <img class = "img-fluid" src="{{post.image.crop.800x600 }}" />
           {% endif %}
        </a>
        <div class="portfolio-caption">
        
          <h4>{{ post.title }}</h4>
    
          <div class="date">
            {{ post.published_date|date:'F d, Y'}}
            <span>by</span>
            <span class="author-date"><a href="{% url 'profile' pk=post.author.pk %}">{{post.author}}</a></span>
            <span>
              <a href="{% url 'post_detail' pk=post.pk %}">
                {% if post.author == request.user %}
                Comments: {{ post.comments.count }}
                {% else %}
                 Comments: {{ post.approved_comments.count }}
                {% endif%}
              </a>

            </span>
          </div>
          <p class="text-muted">{{post.description}}
          </p>
          <span class="time">
            <i class="fa fa-clock-o fa-1x"></i> {{post.cookingtime}} Min</span>
          <span class="difficulty">
            {% if post.difficulty == "Easy"%}
            <i class="fa fa-spoon fa-1x"></i> Easy</span>
          {% elif post.difficulty == "Medium"%}
          <i class="fa fa-spoon fa-1x"></i>
          <i class="fa fa-spoon fa-1x"></i> Medium</span>
          {% elif post.difficulty == "Difficult" %}
          <i class="fa fa-spoon fa-1x"></i>
          <i class="fa fa-spoon fa-1x"></i>
          <i class="fa fa-spoon fa-1x"></i> Difficult</span>
          {% endif %}
        </div>
      </div>
      
      {% endif%}
    
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}




{% endblock %}